<div class="inputGroup">
    <label class="inputGroup__label" for={{id}}>{{label}}</label>
    <input class="inputGroup__input" type={{type}} placeholder={{placeholder}} value={{value}} id={{id}}/>
</div>