<article class="article-thumbnail">
  <div class="article-thumbnail__content">
    <h2>{{article.title}}</h2>
    <p>{{article.description}}</p>
  </div>

  <div class="article-thumbnail__links">
    <a href="/?search={{article.category_name}}" class="links__item">#{{article.category_name}}</a>
    <a href="/article/{{article.id}}" class="links__item">Read More</a>
    {{#if article.edit}}
      <a href="/article/{{article.id}}?edit=true" class="links__item">Edit</a>
      <a class="links__item links__item--delete" article-id="{{article.id}}">Delete</a>
    {{/if}}
  </div>
</article>