<div class="input-group {{#if class}}{{class}}{{/if}}">
    <label class="input-group__label" for={{id}}>{{label}}</label>
    <input class="input-group__input" type={{type}} placeholder="{{placeholder}}" {{#if value}}value="{{value}}" disabled{{/if}} id={{id}} />
</div>
